body {
    font-family: sans-serif;
    border-image: url('/media/examples/border-diamonds.png') 30 / 19px round;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 3fr 8fr;

}

header {
    grid-column: span 2;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 30px;

}

nav {
    float: right;
}